
$theme-colors: (
    "primary": #9c6012,
    "secondary": #30691d,
    "info": rgb(49, 128, 128),
    "danger": rgb(199, 18, 18),
    "dark": #3a3749,
    "light": #693ebe
);

$form-check-input-checked-bg-color: #30691d;
$component-active-bg: #9c6012;
$component-active-color: #9c6012;

@import "~bootstrap/scss/bootstrap";

$body-bg: #000;
$body-color: #111;


$primary: #343434;
$secondary: #f6f4f2;
$bootstrap-default: #0d6efd;

h1, h2, h3, h4, h5, h6, p, .chatbox {
  overflow-wrap: anywhere;
}

body {
  background-color: rgba(rgb(9, 0, 43), 0.7);
}

.mid {
  justify-content: center;
  text-align: center;
  * {
    justify-content: left;
    text-align: left;
  }
}

.break {
  flex-basis: 100%;
  height: 0;
}

.navbar {
  * {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 0.3rem;
    font-size: 1.5rem;
    min-height: 20px;
  }
}

.marked {
  filter: sepia(100%) contrast(500%);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.page-link:focus {
  background-color: white;
  box-shadow: none;
  color: $primary;
}

.dropdown-toggle:hover .dropdown-menu {
    display: block;
    z-index: 1;
}

.panel {
  max-width: 900px;
  color: white;
  font-weight: 200;
}

.plot {
  color: white;
  font-weight: 200;
  width: 400px;
}


.chatbox {
  width: 300px;
  font-weight: 200;
  height: 450px;
  //overflow-y: scroll;
}

.logbox {
  max-height: 200px;
  font-weight: 200;
  overflow-y: scroll;
}

.game {
  background-image: url('./ui/img/board.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.hud {
  height: 0%;
  position: relative;
  .blue {
    width: 30px;
    height: 20px;
    background: rgb(39, 39, 252);
  }
  .red {
    width: 30px;
    height: 20px;
    background: rgb(206, 44, 44);
  }
}



svg {

}
/*
Russian blue pattern:
#7be3f6
#4499a9
#276a76
#133b43
#03090a
*/
svg g {
  fill: transparent;
  fill-opacity: 0.6;
}
svg g:hover {
  fill: $primary;
  fill-opacity: 0.7;
}
svg g:hover text {
  fill-opacity: 1;
}

svg g polygon {
  stroke: #7be3f6;
  stroke-width: 0.2;
  transition: fill-opacity .5s;
}
svg g text {
  font-size: 0.22em;
  fill: white;
  fill-opacity: 0.7;
  transition: fill-opacity .5s;
}
svg path {
  fill: none;
  stroke: #7be3f6;
  stroke-width: 0.2em;
  stroke-opacity: 0.7;
  stroke-linecap: round;
  stroke-linejoin: round;
}

form {
  .chatbox ~ & {
    width: 300px;  
  }
}

.back-link {
  &:hover {
    color: #0a58ca;
    cursor: pointer;
  }
}

.modal {
  position: fixed;
  display: block;
  .modal-lg {
    max-width: 1000px;
  }
}

.dropdown-menu-right {
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
  right: 0;
}

.status {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  h1 {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
  }
}

.error {
  border: 2px solid #FF6565;
}

.main {
  background:none;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  .title {
    position: absolute;
    top: 0%;
    width: 800px;
    max-width: 100%;
  }
  .middle {
    align-self: center;
    z-index: 2;
  }
  .bg-middle {
    position: absolute;
    width: 300px;
    max-width: 100%;
    align-self: center;
    z-index: 1;
  }
}

.hexagon-red {
  position: relative;
  width: 25px; 
  height: 14.43px;
  background-color: #ea1f1f;
  margin: 7.22px 0;
}

.hexagon-red:before,
.hexagon-red:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 12.5px solid transparent;
  border-right: 12.5px solid transparent;
}

.hexagon-red:before {
  bottom: 100%;
  border-bottom: 7.22px solid #ea1f1f;
}

.hexagon-red:after {
  top: 100%;
  width: 0;
  border-top: 7.22px solid #ea1f1f;
}

.hexagon-blue {
  position: relative;
  width: 25px; 
  height: 14.43px;
  background-color: #1f5cea;
  margin: 7.22px 0;
}

.hexagon-blue:before,
.hexagon-blue:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 12.5px solid transparent;
  border-right: 12.5px solid transparent;
}

.hexagon-blue:before {
  bottom: 100%;
  border-bottom: 7.22px solid #1f5cea;
}

.hexagon-blue:after {
  top: 100%;
  width: 0;
  border-top: 7.22px solid #1f5cea;
}

.wrap{
  perspective-origin: 50% 50%;
}

.bg-hexagon {
  filter: invert(60%) sepia(50%) saturate(4500%);
  animation: rotate 80s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}